/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: left;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
